{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <!-- Default form register -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<br>
   {{ form_start(registrationForm, {'attr': {'class': 'my-form-class'}}) }}

   
        <p class="h4 mb-4">Sign up</p>

        <div class="form-row mb-4">
            <div class="col">
                <!-- Username -->
                {{ form_row(registrationForm.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'} }) }}
            </div>
        </div>

        <!-- Password -->
        {{ form_row(registrationForm.plainPassword, { 'label': 'Password', 'attr': {'class': 'form-control', 'placeholder': 'Password', 'aria-describedby': 'defaultRegisterFormPasswordHelpBlock'} }) }}
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>

        

        <!-- Agree terms -->
        {{ form_row(registrationForm.agreeTerms) }}

        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

        

        <!-- Terms of service -->
        <p>By clicking <em>Sign up</em> you agree to our <a href="" target="_blank">terms of service</a></p>
    
    {{ form_end(registrationForm) }}
    <!-- Default form register -->
{% endblock %}
