
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href={{ asset("Style/style.css") }}>
        <title> </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
    </head>
    <body> 
<header>
    <div class="logo">  
        <p><span>luxe</span>cars</p> 
    </div>
      <ul class="menu">
      <li> <a href="/pages"> Acceuil</a></li>
      <li> <a href="/proj">Achat</a></li> 
      <li> <a href="/services">Services</a></li>
      <li> <a href="/contact">Contact</a></li>
      <li> <a href="/register">Inscription</a></li>
      <li> <a href="/login">Login</a></li>
  </ul> 
</header>

<section id="home">
    <div class="left">
        <h1>Buy   <span>your car</span> cheaper from us</h1>
        <p>Lamborghini est un constructeur automobile fondé en 1963 par l'industriel Ferruccio Lamborghini et installé à Sant'Agata Bolognese en Italie </p>
        <a href="#">BUY NOW</a>
    </div>
    <div class="right">
        <img src={{ asset('image/voiture.jfif')}}>
    </div>
</section>
<section id="cars">
    <h1 class="title">Nos vehicules</h1>
    <div class="images">
        <style>
       
  
        </style>
        
        <ul>
            <li class="car">
                <div>
                    <img src={{ asset('image/amber.jfif')}}>
                </div>
                <span>LOMBORGHINE</span>
                <span class="prix">300.000$</span>
                <button class="beb" onclick="hhh()">ACHETER MAINTENANT</button>
            </li>
            <li class="car">
                <div>
                    <img src={{ asset('image/car3.jfif')}}>
                </div>
                <span>LOMBORGHINE</span>
                <span class="prix">300.000$</span>
                <button onclick="hhh()">ACHETER MAINTENANT</button>
            </li>
            <li class="car">
                <div>
                    <img src={{ asset('image/car2.jfif')}}>
                </div>
                <span>LOMBORGHINE</span>
                <span class="prix">300.000$</span>
                <button onclick="hhh()">ACHETER MAINTENANT</button>
            </li>
            <li class="car">
                <div>
                    <img src={{ asset('image/car1.jfif')}}>
                </div>
                <span>LOMBORGHINE</span>
                <span class="prix">300.000$</span>
                <button onclick="hhh()">ACHETER MAINTENANT</button>
            </li>
            <li class="car">
                <div>
                    <img src={{ asset('image/car4.jfif')}}>
                </div>
                <span>LOMBORGHINE</span>
                <span class="prix">300.000$</span>
                <button onclick="hhh()">ACHETER MAINTENANT</button>
            </li>
            <li class="car">
                <div>
                    <img src={{ asset('image/amber.jfif')}}>
                </div>
                <span>LOMBORGHINE</span>
                <span class="prix">300.000$</span>
                <button onclick="hhh()" class="bonn">ACHETER MAINTENANT</button>
            </li>
        </ul>
        
            <script>
                function hhh(){
                    alert("vous aver acheter cette voiture congratulatin")
                }
            </script>

        </ul>
    </div>
</section>

   

<footer>
    <p> FaizDEV YOUTUBE COpyright 2023</p>
</footer>
    </body> 
</html>
</html>